<nav class="navbar navbar-expand-lg" style="background-color:#263946">
	<div class="container container-fluid">
		<a class="navbar-brand" href="{{ site.title }}">
			<img src="assets/img/favicon.png" alt="Logo" height="40" class="d-inline-block align-text-top">
		</a>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				{% for item in site.data.sitelist %}
				<li class="nav-item">
					<a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
				</li>
				{% endfor %}
			</ul>
			<ul class="navbar-nav mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="d-inline-flex align-items-center btn btn-lg rounded-pill" href="https://github.com/c3ai-lab/KeyCape"><i class="bi bi-github me-2"></i></a>
				</li>
			</ul>
		</div>
	</div>
</nav>
